

.cat-page-container {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 100px;
}

.cat-show-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

// adopted badge on carousel
.adopted-sticker {
  font-family: 'Roboto Slab';
  font-size: 35px;
  position: absolute;
  z-index: 9;
  right: 0px;
  background-color: #BB2684;
  color: white;
  padding: 8px 16px 8px 16px;
  border-radius: 8px 0px 0px 8px;
  top: 16px;
}

// photo carousel on cat show page
.cat-photo-carousel {
  // margin-top: 50px;
  width: 80%;

  img {
    object-fit: cover;
    height: 600px;
    width: 100%;
    border-radius: 8px;
    object-position: center;
  }

}

// info area under carousel
.cat-info {
  display: flex;
  width: 80%;
  gap: 32px;
}

// left side - cat details
.left-info {
  width: 60%;
  gap: 32px;
  row-gap: 32px;
}

.cat-details {
  background-color: white;
  box-shadow: $shadow-md;
  padding: 24px;
  border-radius: 8px;
  width: 100%;

  h2 {
    color: $pink;
    font-weight: bold;
  }
}

// action buttons under cat details - edit, delete, etc
.cat-page-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

// right side - contact buttons and organization info
.right-info {
  display: flex;
  flex-direction: column;
  width: 40%;
  row-gap: 32px;
}

.adoption-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 16px;
  padding: 24px;
  border-radius: 8px;
  background-color: $lilac;
  color: $dark-grey;
  width: 100%;
  box-shadow: $shadow-md;

  h5 {
    align-self: center;
  }

  a {
    color: $dark-grey;
  }
}
.adoption-info-buttons {
  display: flex;
  gap: 24px;
}

.org-info {
  background-color: white;
  box-shadow: $shadow-md;
  border-radius: 8px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  color: $dark-grey;
  margin-bottom: 50px;

  a {
    color: $dark-grey;
  }

  h3 {
    color: $pink;
    font-weight: bold;
    align-self: center;
  }
}
.org-info:hover {
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);

  a {
    color: $dark-grey;
  }
}
.org-info .fa-location-dot, .org-info .fa-envelope, .org-info .fa-phone {
  color: $purple;
  font-size: 18px;
}

// individual details in organization contact details (list)
.cat-show-org-details {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 8px;
}
