// Specific CSS for your home-page

.homepage-banner {
  background-color:$lilac;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 24px;
  margin-bottom: 64px;
}
