// ORGANIZATION PROFILE
// if user is an organization, profile banner
.profile-banner {
  background-color:$lilac;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 40px 40px 40px;

  h1 {
    color: $purple;
    margin: 0;
  }
}
.org-profile-logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  background-color: white;
  padding: 8px;
  border: 5px solid $purple;
  margin-bottom: 24px;
}

// profile buttons - contact - edit
.profile-buttons {
  display: flex;
  gap: 8px;
}

// organization profile info container
.org-profile-info {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 40px 60px 40px 60px;
  border-radius: 8px;
  box-shadow: $shadow-md;
  gap: 24px;
  margin-bottom: 50px;
}
// organization address map
.org-profile-details {
  display: flex;
  flex-direction: column;
  width: 60%;
}
.profile-details {
  display: flex;
  gap: 8px;
}

.user-profile-map {
  border-radius: 8px;
}


// USER PROFILE

.user-profile-container {
  max-width: 60%;
  margin: 0 auto;
  margin-top: 100px;
  padding: 40px;
  background-color: white;
  border-radius: 8px;
  box-shadow: $shadow-md;
}

// user picture and name
.user-name-details {
  display: flex;
  align-items: center;
  gap: 24px;
  margin: 16px 0 32px 0;
}
.user-first-last-name {
  display: flex;
  flex-direction: column;
  row-gap: 8px;

  h1 {
    align-self: flex-start;
    margin: 0;
    color: $purple;
  }
}


.user-profile-adoption-stories {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  align-items: left;
  margin: 24px 0 24px 0;
}

// edit - delete - back etc -- all links
.user-profile-links {
  display: flex;
  gap: 8px;
}
