<div class="messages-page-container">

  <div class="message-card-container">
    <% if @chatrooms_connected.any? %>

      <% @chatrooms_connected.each do |chatroom| %>
        <div class="message-card">
          <% if @is_org %>
            <h6><%= link_to chatroom.asker.first_name, messages_path(chatroom_id:chatroom.id) %></h6>
          <% else %>
            <h6><%= link_to chatroom.receiver.org_name, messages_path(chatroom_id:chatroom.id) %></h6>
          <% end %>
        </div>
      <% end %>

    <% else %>
      <h3>your inbox is empty</h3>
    <% end %>

    <%= link_to "< back", 'javascript:history.back()', class: "back-button", id:"chat-back-button" %>
  </div>

  <div class="conversation">
    <% if @current_chatroom  %>
      <%= render "chatroom", chatroom: @current_chatroom %>
    <% else %>
      <p>click a chat to display it</p>
    <% end %>
  </div>
</div>
