<% if @user.is_org? %>
  <div class="org-banner">
  <i class="fa-solid fa-paw homepage-banner-logo"></i>
  <h3><%=  @user.org_name%></h3>
  <p><%=  @user.description%></p>
</div>
<% end %>
<div class="container">
  <% if @user.is_org? %>
    <h5>Contact Person: <%= "#{@user.first_name} #{@user.last_name}" %></h4>
    <% if !@user.photo.key.nil? %>
      <p><%= cl_image_tag @user.photo.key, height: 300, width: 400, crop: :fill %></p>
    <% end %>
  <% end %>
</div>
