<div data-controller="favorite" style="position: relative;">
  <% if current_user %>
    <% action = "click->favorite#changeStatutFavorite" %>
  <% else %>
    <% action = "" %>
  <% end %>
  <%= link_to toggle_favorite_cat_path(cat), data: {turbo_method: :get, action: action} do %>
      <% if current_user.present? && current_user.favorited?(cat) %>
        <% solid = "" %>
        <% regular = "d-none" %>
      <% else %>
        <% solid = "d-none" %>
        <% regular = "" %>
      <% end %>
      <i class="fa-regular fa-heart <%= regular %>"
        style="font-size:32px;color:#BB2684;position: absolute; top: 5px; left: 5px; z-index:2;"
        data-favorite-target="regular"></i>

      <i class="fa-solid fa-heart <%= solid %>"
        style="font-size:32px;color:#BB2684;position: absolute; top: 5px; left: 5px; z-index:2;"
        data-favorite-target="solid"></i>
    <% end %>
</div>
