<div data-controller="favorite" style="position: relative;">
  <%= link_to toggle_favorite_cat_path(cat), data: {turbo_method: :get, action: "click->favorite#changeStatutFavorite"} do %>
      <% if user_signed_in? && current_user.favorited?(cat) %>
        <% solid = "" %>
        <% regular = "d-none" %>
      <% else %>
        <% solid = "d-none" %>
        <% regular = "" %>
      <% end %>
      <i class="fa-regular fa-heart <%= regular %>"
        style="font-size:32px;color:#BB2684;position: absolute; top: 5px; left: 5px; z-index:10000;"
        data-favorite-target="regular"></i>

      <i class="fa-solid fa-heart <%= solid %>"
        style="font-size:32px;color:#BB2684;position: absolute; top: 5px; left: 5px; z-index:10000;"
        data-favorite-target="solid"></i>
    <% end %>
</div>
