<div class="footer">
  <div class="footer-copyright">
      Coded with <i class="fas fa-heart"></i> @ Le Wagon by <a href="https://github.com/vtorelli">Victoria</a>, <a href="https://github.com/Nicolas1936">Nicolas</a>, <a href="https://github.com/rishi-ag">Rishabh</a> & <a href="https://github.com/rishi-ag">Taraneh</a>
  </div>

  <div id="block-copyright" class="block block-copyright">
    <span class="organization-name">©2022 tisacatsworld.com</span>
  </div>
</div>
