<div class="d-flex text-center">
  <%= link_to user_path(org) do %>
    <%= cl_image_tag(org.photo.key, width: 50, height: 30, crop: :fill) %>
  <% end %>
  <h4><%= org.org_name %></h4>
</div>

<p><%= org.address %></p>
