<div class="aboutus-banner"></i>
    <h3>  tis a cats world</h3>
    <p>search for cats in need around you, find a pet to foster or adopt, connect with organizationsand more!</p>
</div>

<div class="container">
  <div>
    <h3>Who are we?</h3>
    <p>We are a non-profit marketplace that connects individuals who want to explore cat adoption with
    organisations that facilitate the said adoptions. We do not own any of the cats listed on this website. We strongly believe that
    entities should play to their strenghts. Ours is to connect people with organisations. The organisations are experts in ensuring
    a fair and thorough assessment of the compatibility of the adopter to their preferred cat. And adopting individuals come with fuel
    that powers it all - intent and compassion.</p>
  </div>
  <br>
  <div>
    <h3>Why adopt cats from a shelter?</h3>
    <ol type="1">
      <li>
        <h6>YOU'LL SAVE MORE THAN ONE LIFE BY ADOPTING A CAT</h6>
      </li>
      <li>
        <h6>IT MAKES GOOD FINANCIAL SENSE TO ADOPT A CAT</h6>
      </li>
      <li>
        <h6>THE PERSONALITY OF AN ADOPTED CAT IS KNOWN</h6>
      </li>
      <li>
        <h6>IT’S GOOD FOR YOUR MENTAL HEALTH TO ADOPT A CAT</h6>
      </li>
      <li>
        <h6>ADOPTING A CAT IS GREAT FOR YOUR HEART!</h6>
      </li>
      <li>
        <h6>CATS IMPROVE CHILDREN’S RESISTANCE TO ASTHMA</h6>
      </li>
      <li>
        <h6>THERE’S A WIDE VARIETY OF CATS TO ADOPT</h6>
      </li>
      <li>
        <h6>CATS ARE PERFECT FOR APARTMENT DWELLERS</h6>
      </li>
      <li>
        <h6>CATS ARE EXCELLENT SENIOR COMPANIONS</h6>
      </li>
      <li>
        <h6> A CAT CAN MAKE YOUR OTHER PETS HAPPY</h6>
      </li>
    </ol>
  </div>
    <div>
    <h3>Some cool cat facts</h3>
     <ol type="1">
      <li>
        <h6>Cats are (usually) quiet</h6>
        <p>If noise levels are a concern in your living situation, cats are a great choice of pet. Even the quietest bark will likely be much louder than the most insistent meowing. Depending on the cat, you may need to worry about other sounds such as them knocking things off of surfaces or running around at top speed, but they are still likely to be more quiet overall.</p>
      </li>
      <li>
        <h6>Cats are (often) low maintenance</h6>
        <p>Compared to dogs, cats are a low maintenance pet. They don’t require formal training, they don’t need to be taken out multiple times a day, and they’re even able to take care of basic self-cleaning.</p>
      </li>
      <li>
        <h6>Cats are (reasonably) easy to house train</h6>
        <p>Kittens usually know how to use the litter box as soon as you bring them home. All you need to do is show them where it is, and they’ll instinctively use it.  </p>
      </li>
      <li>
        <h6>Cats make great apartment pets (all the time)</h6>
        <p>When it comes to pets in apartments, cats are often better suited than dogs. Cats require less space and can take better advantage of vertical space. Even in apartments with small square footage, you can make the space comfortable for cats by adding different vertical levels. Plus, since they use litter boxes, they don’t need to be taken outside multiple times a day – something that can be time-consuming if you live in a large apartment building.</p>
      </li>
      <li>
        <h6>Cats cost (way) less to take care of</h6>
        <p>he overall cost of caring for cats is lower than medium or large dogs. This is because they require less food, fewer toys, and have lower overall grooming costs.</p>
      </li>
      <li>
        <h6>Cats are independent</h6>
        <p>One of the best things about cats is that they are very independent creatures. Cats are quite happy to have time to themselves. In fact, cats will sleep for about 15 hours a day so you don’t have to worry about them being too bored when you’re at work. When you are home, cats are also more likely to be content with just being in your company.</p>
      </li>
      <li>
        <h6>Cats have a (very) long lifespan</h6>
        <p>Any pet owner knows that losing a pet is a truly heartbreaking experience. Fortunately, when it comes to house pets, cats have quite a long life expectancy. The average life span of a cat is 12 years, but it’s not uncommon for them to live into their high teens or even early twenties.</p>
      </li>
      <li>
        <h6>Cats are (uber) good for your health</h6>
        <p>Studies have shown that cats have a calming effect on their owners, from the soothing action of petting to purring being an aid in falling asleep. Cats can even play a part in lowering your blood pressure and risk of a heart attack. One 10-year study has even shown that cat owners were 30% less likely to die of a heart attack or stroke than non-cat owners.</p>
      </li>
      <li>
        <h6>Cats can lead to fewer allergies (categorically true)</h6>
        <p>In a study by the National Institutes of Health, it was found that children under the age of one who were exposed to a cat were less likely to develop allergies. The interesting part was that this wasn’t just limited to pet allergies, but all types of allergies. It appears that exposure to pets as a young child will protect you against not only pet allergies, but other common allergies such as dust mites, ragweed, and grass.</p>
      </li>
      <li>
        <h6> Cats can the pest population (well) under control</h6>
        <p>Cats are hardwired to stalk, hunt, and pounce on their prey, which makes them perfect for keeping your home free of unwanted pests – be it mice, bugs, or something else. Even their presence can be enough of a deterrent for rodents as their scent can act as a repellent.</p>
      </li>
    </ol>
  </div>
</div>
