<div class="banner">
  <h1>Frequently Asked Questions</h1>
</div>

<div class="container">
  <p>
    <h3> How can I adopt a pet I see on Tis A Cats World? </h3>
    <p>To adopt a cat you see listed as available. Click the “Contact Organization” button on the cat you want to adopt. This will direct you to a chat with the organization that has listed the cat. There, you can ask any questions you might have about the cat or the organization that is placing the cat for adoption.</p>
    <br>
    <h3>How do I search for a cat?</h3>
    <p>Tis A Cats World has searchable filters that lets you search based on gender, location, color, and breed. This will allow you to narrow down the search based on your preferences when it comes to finding the Purrrfect cat for you and your home.</p>
    <br>
    <h3>How do I prepare my home before adopting a cat?</h3>
    <p>Cats are very independent pets. However, to make things easier for the cat you are adopting and to make the transition as smooth as possible. We recommend allowing the cat to be curious and smell around the home. The cat you are adopting needs time to adjust to the new environment and their forever home. We also recommend having a litter box, food bowls, and water bowls in a private area, so the cat feels more comfortable and relaxed.</p>
    <br>
    <h3>What are the requirements for adopting a cat?</h3>
    <p>The requirements are based on each organization and their policies. However, we strongly suggest researching organizations and contacting them regarding any requirements. As always we want these cats to find a loving and happy home!</p>

  </p>
</div>
