<div class="container">
  <h1>'TIS A CAT'S WORLD</h1>
  <h2>Find your new best friend!</h2>

  <div class="cards">
      <% @cats.each do |cat| %>
        <%= render "cats/cat", cat: cat %>
      <% end %>

      <div class="cat-card-button">
        <%= link_to cats_path do %>
          <i class="fa-solid fa-paw button-paw"></i>
          <p>xxx pets available for adoption on our website</p>
          <h5>VIEW ALL PETS</h5>
        <% end %>
      </div>
  </div>
</div>
