<div class="wrapper">
  <h1>'TIS A CAT'S WORLD</h1>
  <h2>Find your new best friend!</h2>

  <div class="cards">
    <div class="cat-card">
      <% @cats.each do |cat| %>
        <br>
        <hr>
        <br>
        <% cat.photos.each do |photo| %>
          <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
          <p><%= photo.key %></p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
