<div class="wrapper">
  <h1>'TIS A CAT'S WORLD</h1>
  <h2>Find your new best friend!</h2>

  <div class="cards">
    <div class="cat-card">
      <% @cats.each do |cat| %>
        <%= cl_image_tag cat.photos.first.key, height: 300, width: 400, crop: :fill %>
        <p><%= cat.photos.first.key %></p>
      <% end %>
    </div>
  </div>
</div>
