<div class="homepage-banner">
  <i class="fa-solid fa-paw homepage-banner-logo"></i>
  <h1>'TIS A CAT'S WORLD</h1>
  <h3>find your new best friend!</h3>
  <p>search for cats in need around you, find a pet to foster or adopt, connect with organizations or add to our database!</p>
</div>

<div class="container">
  <div class="cards">
      <% @cats.each do |cat| %>
        <%= render "cats/cat", cat: cat %>
      <% end %>

      <div class="cat-card-button">
        <%= link_to cats_path do %>
          <i class="fa-solid fa-paw button-paw"></i>
          <p><%= @cats.count %> pets available for adoption on our website</p>
          <h5>VIEW ALL PETS</h5>
        <% end %>
      </div>
  </div>
</div>
