// homepage
.homepage-banner {
  background: linear-gradient(rgba(0,0,0, 0.3), rgba(0,0,0, 0.3)), image-url("tacw_banner3.jpg");
  background-attachment: fixed;
  background-size: contain;
  background-color:$lilac;

  height: 500px;
  padding: 24px;
  padding-top: 50px;
  margin-bottom: 80px;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-shadow: 3px 3px 16px rgba(0,0,0, 0.8);
  color: $white;

  h1 {
    color: $white;
  }

  p {
    font-size: 20px;
    margin-bottom: 40px;
  }
}

.homepage-banner-logo {
  font-size: 88px;
  margin-bottom: 20px;
  color: $white;
}

//general banner (TITLE)
.banner {
  background-color:$white;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 64px;
}
