// homepage
.homepage-banner {
  background: linear-gradient(rgba(0,0,0, 0.3), rgba(0,0,0, 0.3)), image-url("tacw_banner3.jpg");
  // background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-color:$lilac;

  height: fit-content;
  padding: 80px 50px 50px 50px;
  margin-bottom: 80px;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-shadow: 3px 3px 16px rgba(0,0,0, 0.6);
  color: $lilac;

  h3 {
    color: $lilac;
  }

  p {
    font-size: 20px;
    margin-bottom: 40px;
  }
}

// LOGO - banner
.tacw-banner-logo {
  max-width: 24%;
  margin-bottom: 20px;
  -webkit-filter: drop-shadow(3px 3px 16px rgba(0,0,0, 0.6));
  filter: drop-shadow(3px 3px 16px rgba(0,0,0, 0.6));
}

//general banner (TITLE for other pages)
.banner {
  background-color:$lilac;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px 0 64px 0;
  color: $purple;
}
