.purple-button {
  border-radius: 8px;
  background-color: $purple;
  height: 50px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;

  a {
    color: $white;
  }
}

.purple-button:hover {
  color: $white;
  background-color: $purple-dark;
  cursor: pointer;

  a {
    color: $white;
  }
}
