.dark-purple-button {
  border: none;
  border-radius: 8px;
  height: 40px;
  background-color: $purple-dark;
  padding: 8px 16px 8px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;
  font-family: 'Roboto Slab', serif;

  a {
    color: $white;
  }
}
.dark-purple-button:hover {
  color: $white;
  background-color: $pink;
  cursor: pointer;

  a {
    color: $white;
  }
}

.purple-button {
  border: none;
  border-radius: 8px;
  height: 40px;
  background-color: $purple;
  padding: 8px 16px 8px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;
  font-family: 'Roboto Slab', serif;

  a {
    color: $white;
  }
}
.purple-button:hover {
  color: $white;
  background-color: $pink;
  cursor: pointer;

  a {
    color: $white;
  }
}

.pink-button {
  height: 40px;
  border: none;
  border-radius: 8px;
  background-color: $pink;
  padding: 8px 16px 8px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;
  font-family: 'Roboto Slab', serif;

  a {
    color: $white;
  }
}
.pink-button:hover {
  color: $white;
  background-color: $purple;
  cursor: pointer;

  a {
    color: $white;
  }
}

.lilac-button {
  height: 40px;
  border: none;
  background-color: $purple;
  padding: 8px 16px 8px 16px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;
  font-family: 'Roboto Slab', serif;

  a {
    color: $white;
  }
}
.lilac-button:hover {
  color: $white;
  background-color: $pink;
  cursor: pointer;

  a {
    color: $white;
  }
}

.back-button {
  background-color: $purple-dark;
  padding: 8px 16px 8px 16px;
  border-radius: 8px;
  color: $white;
  font-family: 'Roboto Slab', serif;

  a {
    color: $white;
  }
}
.back-button:hover {
  background-color: $pink;
  color: $white;
  cursor: pointer;
}
