.chatroom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  width: 100%;
  height: 60vh;
  border-radius: 0px 8px 8px 8px;

  h3 {
    border-bottom: 1px solid $gray-200;
    margin-bottom: 24px;
    padding: 8px;
    color: $purple;
  }

  .messages {
    height: 100%;
    overflow: scroll;
    padding: 1rem;
  }

  #new_message {
    border-top: 1px solid $gray-200;
    padding: 1rem;

    .form-group {
      margin-bottom: 0;
    }
  }
}

.individual-messages {
  h6 {
    font-size: 10px;
    font-family: 'Lato', sans-serif;
    text-align: right;
  }

  margin-bottom: 8px;
}

.message-bubble-org {
  background-color: $baby-blue;
  border-radius: 16px;
  padding: 8px 8px 16px 16px;
  width: 70%;
  margin-left: auto;
}

.message-bubble-user {
  background-color: $lilac;
  border-radius: 16px;
  padding: 8px 8px 16px 16px;
  width: 70%;
}

.message-cont {
  display: flex;
  align-items: center;
  gap: 8px;
}
