.footer {
  margin-top: auto;
  padding: 24px 0;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
  font-size: 16px;
  color: rgb(45, 44, 44);
  // color: rgba(0,0,0,0.3);
  a {
    color: $purple;
  }
  a:hover {
    color: $pink;
  }
}
.footer .fa-heart {
    color: $pink;
}
.page-container {
  display: grid;
  min-height: 200vh;
  grid-template-rows: auto 1fr auto;
}

.block-copyright {
  color: $pink;
  line-height: 12px;
  padding-top: 4px;
  padding-bottom: 16px;
  text-align: center;
  position: relative;
  font-size: 12px;
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
}
