.mapboxgl-ctrl-geocoder {
  max-width: none;
  width: 100% !important;
  max-width: 100% !important;
  border: 1px solid lightgrey;
  box-shadow: none !important;
  // background-color: transparent;
  background-color: #F4F4F4 !important;
}

