.navbar-lewagon {
  justify-content: space-between;
  background: $purple;
  height: 50px;
  color: $white;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  opacity: 95%;

  a {
    color: $white;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-item .dropdown {
  border: 1px solid red;
}

.dropdown-menu {
  background-color: $purple;
}

#navbar-logo {
  font-size: 30px;
  color: $white;
}
