// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "components/cards";
@import "components/search_bar";
@import "components/banners";
@import "components/buttons";
@import "components/message_cards";
@import "components/illustrations";
@import "pages/index";
@import "pages/_cat_show";
@import "pages/_user_show";
@import "pages/about_us";
@import "pages/_messages";
@import "pages/_errors";


// Import external libraries
@import "@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder";

// * {
//   margin: 0;
// }

.cat-card .fa-heart {
  font-size: 24px !important;
}

.container {
  max-width: 1200px;
  margin: 0 auto !important;
  margin-top: 50px !important;
}

.page-container {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: $pink;
}
a:hover {
  color: $purple;
}

body {
  color: $dark-grey;
}

h1 {
  font-weight: 700;
}

.footer-positioning {
  height: 100vh;
}
