// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "components/cards";
@import "components/search_bar";
@import "pages/index";
@import "pages/_cat_show";
@import "pages/_user_show";


// Import external livraries
@import "@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder";


.container {
  max-width: 1200px;
  margin: 0 auto !important;
}

.page-container {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

a {
  text-decoration: none;
}

body {
  color: $dark-grey;
}

h1 {
  font-weight: 700;
}

.footer-positioning {
  height: 100vh;
}
